* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header1 {
    align-items: center;
    height: 45px;
    text-align: center;
}

.header1 a {
    margin-top: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.header1 i {
    color: orange;
}

.header1 a:hover {
    color: orange;
}

.header2 {
    width: 80%;
    margin: auto;
    /* tự động cách đều 2 bên */
    display: flex;
    /* logo ngang với chữ */
    align-items: center;
    /* căn chữ giữa */
    background-color: #FFFFFFCC;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 20px;
    /* khoảng cách bên trái */
    list-style: none;
    /* bỏ dấu chấm trước chữ */
}

.menu li a {
    text-decoration: none;
    /* bỏ gạch dưới */
    color: black;
    /* màu chữ */
    font-weight: 540;
    /* chữ in đậm */
}

.menu li a i {
    font-size: 8px;
}
.main {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.tendanhmuc {
    flex: 0 0 20%;
    height: 100vh;
    border-right: 1px solid gray; /* cot doc */
}
.tendanhmuc li {
    list-style: none;
    padding: 5px;
}
.tendanhmuc li a{
    text-decoration: none;
    color: gray;
  
}
.sp {
    flex: 0 0 80%;
}

.sp2 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
}
.sp1 h2{
    padding: 10px;
    margin-left: 40px;
}
.sp1{
    padding-bottom: 20px;
}
.card {
  padding: 5px;
}

.card a img {
    border-radius: 10px;
    width: 95%;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a h3 {
    padding: 1px;
}

.card a span {
    padding: 1px;
    color: gray;
}
.card a:hover>h3{
    color: rgb(255, 68, 0);
}