*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.header1{
    align-items: center;
    height: 45px;
    text-align: center;
}
.header1 a{
    margin-top:  5px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.header1 i{
    color: orange;
}
.header1 a:hover{
    color: orange;
}


