<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tất cả sản phẩm</title>
    <link rel="shortcut icon" href="..//public/img/The-coffee-house-logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/allproduct.css">
</head>

<body>
    <div class="main">
        <div class="tendanhmuc">
            <ul>
                <li><a href="#"><i class="bi bi-cup-hot"></i>Tất cả</a></li>
                <li><a href="#">Cà Phê</a></li>
                <li><a href="#">Trái Cây Xay 0c</a></li>
                <li><a href="#">Trà Trái Cây - Hitea</a></li>
                <li><a href="#">Trà sữa</a></li>
                <li><a href="#">Trà xanh - Chocolate</a></li>
                <li><a href="#">Thức uống đá xay</a></li>
                <li><a href="#">Bánh & Snack</a></li>
                <li><a href="#">Thưởng Thức Tại Nhà</a></li>
            </ul>
        </div>
        <div class="sp">
            <div class="sp1">
                <h2>Cà Phê Highlight</h2>
                <div class="sp2">
                    <div class="card">
                        <a href="#"> <img
                                src="https://product.hstatic.net/1000075078/product/1719929441_bo-sua-pmt_77e27a929b5340e5bc7b83bb1963f0eb_large.jpg"
                                alt="">
                            <h3>Bơ sữa phô mai tươi</h3>
                            <span>55.000đ</span>
                        </a>

                    </div>
                    <div class="card">
                        <a href="#"> <img
                                src="https://product.hstatic.net/1000075078/product/1719929441_bo-sua-pmt_77e27a929b5340e5bc7b83bb1963f0eb_large.jpg"
                                alt="">
                            <h3>Bơ sữa phô mai tươi</h3>
                            <span>55.000đ</span>
                        </a>

                    </div>
                    <div class="card">
                        <a href="#"> <img
                                src="https://product.hstatic.net/1000075078/product/1719929441_bo-sua-pmt_77e27a929b5340e5bc7b83bb1963f0eb_large.jpg"
                                alt="">
                            <h3>Bơ sữa phô mai tươi</h3>
                            <span>55.000đ</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="sp1">
                <h2>Cà Phê Highlight</h2>
                <div class="sp2">
                    <div class="card">
                        <a href="#"> <img
                                src="https://product.hstatic.net/1000075078/product/1719929441_bo-sua-pmt_77e27a929b5340e5bc7b83bb1963f0eb_large.jpg"
                                alt="">
                            <h3>Bơ sữa phô mai tươi</h3>
                            <span>55.000đ</span>
                        </a>

                    </div>
                    <div class="card">
                        <a href="#"> <img
                                src="https://product.hstatic.net/1000075078/product/1719929441_bo-sua-pmt_77e27a929b5340e5bc7b83bb1963f0eb_large.jpg"
                                alt="">
                            <h3>Bơ sữa phô mai tươi</h3>
                            <span>55.000đ</span>
                        </a>

                    </div>
                    <div class="card">
                        <a href="#"> <img
                                src="https://product.hstatic.net/1000075078/product/1719929441_bo-sua-pmt_77e27a929b5340e5bc7b83bb1963f0eb_large.jpg"
                                alt="">
                            <h3>Bơ sữa phô mai tươi</h3>
                            <span>55.000đ</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>