<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..//public/css/produc1.css">
</head>

<body>
    <h2>Cà Phê Tại Nhà</h2>
    <div class="sanpham">
        <div class="sanpham1">
            <img src="https://product.hstatic.net/1000075078/product/1697446642_ca-phe-den-da-tui_a178a9f2d9a84425b5c5397da639bf92_large.jpg"
                alt="">
            <h3>Cà Phê Đen Đá Túi (30 gói x 16g)</h3>
            <span>116.000</span>
        </div>
        <div class="sanpham1">
            <img src="https://product.hstatic.net/1000075078/product/1697446642_ca-phe-den-da-tui_a178a9f2d9a84425b5c5397da639bf92_large.jpg"
                alt="">
            <h3>Cà Phê Đen Đá Túi (30 gói x 16g)</h3>
            <span>116.000</span>
        </div>
        <div class="sanpham1">
            <img src="https://product.hstatic.net/1000075078/product/1697446642_ca-phe-den-da-tui_a178a9f2d9a84425b5c5397da639bf92_large.jpg"
                alt="">
            <h3>Cà Phê Đen Đá Túi (30 gói x 16g)</h3>
            <span>116.000</span>
        </div>
        <div class="sanpham1">
            <img src="https://product.hstatic.net/1000075078/product/1697446642_ca-phe-den-da-tui_a178a9f2d9a84425b5c5397da639bf92_large.jpg"
                alt="">
            <h3>Cà Phê Đen Đá Túi (30 gói x 16g)</h3>
            <span>116.000</span>
        </div>
    </div>
</body>

</html>